*{box-sizing: border-box; margin: 0; padding: 0;}
.dropdown:hover .dropdown-menu{

    display: block;
}

.dropdown-menu{
    margin-top: -5px;
}
.nav-link{

    color: red !important;
    font-weight: 600;
    font-size: 17px;
}

.dropdown-menu-r{



    top: 96% !important;
    left: -92px !important;
}
.nav-link:hover{

    color: rgb(227, 95, 33) !important;
}
.color-active{
color: rgb(227, 95, 33) !important;

}
.blues-colr{

    color: rgb(3, 45, 96) !important;

}
.fullmode{
background-color: rgb(3, 45, 96);
}
.color-sr{

    color: white !important;
}
.banner-bg{

    background-color: #df5c2057;
}
.white-bg{

    background: white !important;
}
.orange-bg{

    background-color: rgb(227, 95, 33) !important;
}
.banner-bg-2{
    background: linear-gradient(86deg, rgba(3, 45, 96, 0.9) 38%, rgb(3, 45, 96, 0.3) 100%) !important;
}
.h-1-trans{

    font-size: 50px;
    color: #fff;
    line-height: 65px;
    font-weight: 600;
    margin-bottom: 25px;
}
.image-trns{

    object-fit: contain;
    height: 80px;
    
}
.button-custom{


position: relative;
      color: #fff !important;
      background: transparent;
      padding: 10px 30px !important;
      border-radius: 6px;
      font-weight: 500;
      transition: 0.3s;
     overflow: hidden;
    border: 1px solid #ccc !important;
}
.button-orange::after {
  content: "";
  position: absolute;
  top: 0%;
  left:0;
  width: 0%;
  right: 0;
  margin: auto;
  height: 100%;
  background: rgb(227, 95, 33) !important;
  transition:0.4s;
 transform:  skewX(-20deg);
  z-index: -1;
  transform-origin: center;
  
  
}
.button-orange:hover::after {
  width: 100%;

  
}
.big-heading{

    font-size: 42px;
}
.p-size{
color: #666666;
    font-size: 19px;
}
.blew-button{
    position: relative;
background: #032d60 ;
color: white ;
padding: 10px 30px ;
border: none;
border-radius: 6px;
overflow: hidden;
z-index: 1;
}
.directer{
    margin-top: 120px !important;
    position: relative;
}
.directer::after{
content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1.8px dashed #0f386aa1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* perfect center */
    display: block;
    z-index: 2;


animation-name: rotade;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 12s;
}

@keyframes rotade {



   0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.add-tols::after{

position: absolute;
top: 26px;
left: 59px;
z-index: 3;
content: "";
display: block;
width: 12px;
height: 12px;
border-radius: 50%;
background-color: #e35f21;

}
.add-tols::before{

position: absolute;
top: 183px;
left: 109px;
z-index: 3;
content: "";
display: block;
width: 12px;
height: 12px;
border-radius: 50%;
background-color: #64b7f4;

}
.directer::before{

position: absolute;
top: 87px;
left: 191px;
z-index: 3;
content: "";
display: block;
width: 12px;
height: 12px;
border-radius: 50%;
background-color:red;

}
.text-speech p:after {
    clip-path: polygon(38% 42%, 100% 99%, 100% 38%);
    position: absolute;
    width: 31px;
    color: white;
    height: 38px;
    background-color: #032d60;
    content: "";
    left: -31px;
    top: 7px;
}
.text-speech {
    position: absolute;
    left: 203px;
    top: 52px; 
    color: white;
    width: 178px;
    background-color: #032d60;
    padding: 9px;
    border-radius: 5px;
    z-index: 99;
    min-height: 40px;
}
.text-speech1 {
    position: absolute;
    left: -105px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    top: 52px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: color;
    font-size: 14px;
    width: 203px;
    background-color:white;
    
    border-radius: 5px;
    z-index: 99;
    
}
.text-speech1 p::after {
    clip-path: polygon(1% 34%, 100% 99%, 100% 38%);
    position: absolute;
    width: 23px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    content: "";
    top: -2px;
    right: -14px;
    transform: rotate(264deg);
}
.border-set{

    margin-top: 100px !important;
}
.pts{

    font-size: 32px;
}